*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #ddd;
}
.header{
    width: 100%;
    position: fixed;
    top: 0;
}

/* NavBar CSS */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #f44336;
}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    

}

.nav-links ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    transition: 0.3s ease;

}
.nav-links ul li:hover a{
    color: #343434;
}

nav .fa{
    display: none;
}

/* Content Area CSS */
.banner-area{
    margin-top: 100px;
}
.banner-area,
.about-area,
.portfolio-area,
.services-area,
.contact-area{
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-bottom: 2px solid #eee;
    padding: 150px 0;
}
.content{
    width: 100%;
    text-align: center;
}
.content p{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Responsive CSS */
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background-color: #f44336;
        top: 50px;
        right: -200px;
        height: 100vh;
        width: 200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    nav .fa{
        display: block;
        color: #fff;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}


